---
extends: default

rules:
  line-length:
    max: 160
  braces:
    max-spaces-inside: 1
    level: error
  brackets:
    max-spaces-inside: 1
    level: error
  empty-lines:
    max: 1
  indentation:
    spaces: 2
  truthy:
    allowed-values: ["true", "false", "on", "off"]
